<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/ChatWeb.ico" type="image/x-icon">
    <link rel="stylesheet" href="public/style.css">
    <title>ChatWEB</title>
</head>
<body>
    <div class="main">
        <h1>Cadastrar-se</h1>
        <br>
        <label for="name">Nome de usuário:</label>
        <br>
        <input type="text" name="name" id="name">
        <br>
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" id="email">
        <br>
        <br>
        <label for="password">Senha:</label>
        <br>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <br>
        <input type="submit" value="Criar" id="input_main">
        <br>
        <br>
        <div class="span">
            <span>OU</span>
        </div>
        <br>
        <a href="loginScreen.html" target="_parent"><input type="submit" value="Fazer login" id="input_secondary"></a>
        
    </div>
</body>
</html>