*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #464649;
}
.main{
    background-color: rgba(24, 24, 27, 0.9);

    position: absolute;
    padding: 2rem;
    border-radius: 5px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    font-size: 25px;
    color: #F3F3F4;
}
input{
    width: 300px;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
    border: none;
    outline: none;
    color: #F3F3F4;
    background-color: #464649;
}

#div_link{
    text-align: right;
}
a{
    color: #F3F3F4;
}

#input_main{
    margin: 0;
    color: #F3F3F4;
    background: linear-gradient(90deg, rgba(72,192,255,1) 0%, rgba(51,137,228,1) 100%);
    width: 100%;
}
#input_main:hover{
    background: linear-gradient(90deg, rgb(109, 184, 224) 0%, rgb(10, 124, 246) 100%);
}
#input_secondary{
    margin: 0;
    color: #F3F3F4;
    background: linear-gradient(90deg, rgb(92, 92, 92) 0%, rgb(68, 66, 66) 100%);
    width: 100%;    
}
#input_secondary:hover{
    background: linear-gradient(90deg, rgb(100, 100, 100) 0%, rgb(56, 55, 55) 100%);
}

label{
    font-size: 15px;
    color: #F3F3F4;
}

.span{
    text-align: center;
    color: #F3F3F4;
}